flask
flask_cors
tools
langchain_community
langchain_cohere
fastembed
PyPDF2
sentence-transformers
cohere
google.generativeai
qdrant_client
os
itertools
operator
pathlib
time
pdfplumber
re
gradio
typing
queue
threading